<!doctype html>
<html lang="en">
  <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="../static/style.css">

    <title>Who's that pokemon</title>
  </head>
  <body>
    <div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>Register new face</h3>
                        <form action="/login" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="ID" id="id" name="id" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" id="password" name="password"/>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btnSubmit" value="Log In" />
                            </div>
                        </form>

                </div>
                <div class="col-md-6 login-form-2">
                    <div class="login-logo">
                        <img src="static/face-logo.png" alt=""/>
                    </div>
                    <h3>Login with face</h3>
                        <div class="login-image" id="video-box">
                            <video id="video" width="100%" height="100%" autoplay></video>
                        </div>
                        <div class="card bg-danger mb-3 text-center" id="blink">
                            <div class="card-body">
                              <h5 class="card-title">
                                  <img class="bi" width="32" height="32" src="static/eye-close.png" alt=""/>
                                  Blink now
                                  <img class="bi" width="32" height="32" src="static/eye-close.png" alt=""/>
                              </h5>
                            </div>
                        </div>
                        <div class="card bg-danger mb-3 text-center" id="eye-open">
                            <div class="card-body">
                              <h5 class="">
                                  <img class="bi" width="32" height="32" src="static/eye-open.png" alt=""/>
                                  Eyes open
                                  <img class="bi" width="32" height="32" src="static/eye-open.png" alt=""/>
                              </h5>
                            </div>
                        </div>
                        <div class="card bg-secondary mb-3 text-center" id="wait-card">
                            <div class="card-body">
                              <h5 class="">
                                  Please wait...
                              </h5>
                            </div>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="face_crop">
                          <label class="form-check-label text-light" for="face_crop">
                              Face crop and align
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="liveness">
                          <label class="form-check-label text-light" for="face_crop">
                              Liveness Detection
                          </label>
                        </div>
                        <div class="form-check" id="fraud_detection-form">
                          <input class="form-check-input" type="checkbox" value="" id="fraud_detection" disabled>
                          <label class="form-check-label text-light" for="fraud_detection">
                            Fraud Detection
                          </label>
                        </div><br>
                        <button id="snap" class="btn btnSubmit">Attempt Login</button>

                </div>
            </div>
    </div>
    <canvas id="canvas" class="d-none" width="100" height="100"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script>

        function login_request(imageString,face_crop_checkbox_value,liveness_checkbox_value,liveness_frames){
            $('#wait-card').show()
            // send image to server
            resp = fetch('/face-login', {
                        method: "POST",
                        cache: "no-cache",
                        credentials: "same-origin",
                        headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        imageString: imageString,
                        img_crop:face_crop_checkbox_value,
                        liveness:liveness_checkbox_value,
                        frames:liveness_frames,
                    }),
            })

            resp.then((value) => {
                    $('#wait-card').hide()
                    if(value.status === 200){
                        value.text().then(function (text) {
                            alert("Login Succeded\nWelcome back "+ text);
                        });
                    }
                    else{
                        value.text().then(function (text) {
                           alert("Login Failed "+ text)
                        });
                    }
            });
        }

        document.addEventListener("DOMContentLoaded", function(){

            // Grab elements, create settings, etc.
            var video = document.getElementById('video');

            // Get access to the camera!
            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({
                    video: true
                }).then(function(stream) {
                    //video.src = window.URL.createObjectURL(stream);
                    video.srcObject = stream;
                    video.play();
                });
            }

            // Elements for taking the snapshot
            var canvas = document.getElementById('canvas');
            canvas.width = canvas.offsetWidth
            canvas.height = canvas.offsetHeight
            var context = canvas.getContext('2d');
            var video = document.getElementById('video');

            $('#blink').hide()
            $('#eye-open').hide()
            $('#wait-card').hide()
            $('#fraud_detection-form').hide()

            // Trigger photo take
            document.getElementById("snap").addEventListener("click", function() {
                var canvas = document.getElementById('canvas');
                canvas.width = video.offsetWidth
                canvas.height = video.offsetHeight
                var context = canvas.getContext('2d');
                context.drawImage(video, 0, 0, video.offsetWidth, video.offsetHeight);

                // get image data as string
                const imageString = canvas.toDataURL();

                //check if face crop enabled
                var face_crop_checkbox_value = false;
                if (document.getElementById('face_crop').checked) {
                    face_crop_checkbox_value = true
                }

                //check if liveness detection enabled and pick liveness frames
                var liveness_detection_checkbox = false;
                if (document.getElementById('liveness').checked) {
                    var nframes=0;
                    var frames = [];
                    var intervalVar = setInterval(livenessFrameFunction, 200);

                    function livenessFrameFunction() {
                        if(nframes<6){
                            $('#eye-open').show();
                        }
                        if(nframes>=6){
                            $('#eye-open').hide();
                            $('#blink').show();
                        }
                        context.drawImage(video, 0, 0, video.offsetWidth, video.offsetHeight);
                        frames.push(canvas.toDataURL());
                        nframes++;
                        if(nframes>=15){
                            $('#eye-open').hide()
                            $('#blink').hide()
                            clearInterval(intervalVar);
                            login_request(imageString,face_crop_checkbox_value,true,frames)
                        }
                    }

                }
                //otherwise use standard login
                else{
                    login_request(imageString,face_crop_checkbox_value,false,[])
                }
            });

        });
    </script>
  </body>
</html>